.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5); /* Cinza transparente */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Define o fundo da pista como transparente */
}
